<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Cadastro de fériados e recessos</h5>
            </div>
            <div class="ibox-content">
                <form method="get" class="form-horizontal" ng-submit="add()">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nome</label>
                        <div class="col-sm-5">
                            <input class="form-control" type="text" ng-model="name" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Data</label>
                        <div class="col-sm-3">
                            <input class="form-control dataferiado" type="text" ng-model="date" required="required">
                        </div>
                    </div>

                    <script type="text/javascript">
                    jQuery(document).ready(function(){
                        jQuery('.dataferiado').datepicker({
                            format: "dd/mm/yyyy",
                            language: "en",
                            orientation: "top left",
                            autoclose: true,
                            todayHighlight: true
                        });
                    });
                    </script>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-primary" type="submit">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Lista de Fériados e Recessos</h5>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="col-md-1">ID</th>
                            <th class="col-md-9">Nome</th>
                            <th class="col-md-1">Data</th>
                            <th class="col-md-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="holiday in holidays">
                            <td>{{holiday.id}}</td>
                            <td>{{holiday.name}}</td>
                            <td>{{holiday.date}}</td>
                            <td>
                             <button ng-click="remove(holiday.id)" class="btn btn-danger btn-xs" type="submit">deletar</button>
                             <a class="btn btn-info btn-xs" href="#/holidays-form/{{holiday.id}}" type="submit">editar</a>
                            </td>
                        </tr>
                        <tr ng-show="!holidays.length">
                            <td colspan="4" class="text-center">Nenhum feriado/recesso encontrado</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>