/*
        Project:		-- MILI
        Version:	    --
        Create Date:	-- 2-2-17
        Last change:	--
        Primary use:	--
*/

/* 
        --- Table Of Content ---
        
        1. preload
        2. menu
        3. home-background slider
        4. about
        5. gallery
        6. service
        7. team
        8. price plan
        9. testimonials
        10. contact
        11.responsive 
        
*/






html{
    position: relative;
    height: 100%;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    height: 100%;
    background-color: transparent;
}
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../font/glyphicons-halflings-regular.eot');
    src: url('../font/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../font/glyphicons-halflings-regular.woff') format('woff'), url('../font/glyphicons-halflings-regular.ttf') format('truetype'), url('../font/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
@font-face {
    font-family: "Flaticon";
    src: url("../font/flaticon.eot");
    src: url("../font/flaticon.eot#iefix") format("embedded-opentype"),
        url("../font/flaticon.woff") format("woff"),
        url("../font/flaticon.ttf") format("truetype"),
        url("../font/flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}





/*================================================================ PRELOAD ===================================================================*/





.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1111111111;
    background: url(../img/loader1.gif) center no-repeat #fff;
}




/*============================================================== MENU ==========================================================*/



.main-page-content{
    width: 100%;
    height: 100%;
}

.menubar {
    height: auto;
    width: 100%;
}
.navbar-default {
    background-color: rgba(98, 98, 98, 0.31);
    height: 75px;
    border-bottom: none;
    overflow: hidden;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 111111;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.navbar-default.small {
    background-color: black;
    border-bottom: 1px solid #565656;
    box-shadow: 0px 0px 10px 0px #3C3C3C;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 10px 58px;
    font-size: 41px;
    line-height: 20px;
    padding-top: 21px;
}
.navbar-nav {
    float: right;
    margin: 17px 21px;
    margin-right: 0px;
}
.navbar-nav li {
    float: left;
    margin: 0px 11px;
    display: inherit;
}
.navbar-default .navbar-nav > li > a {
    color: white;
    letter-spacing: 2px;
    font-size: 13px;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    padding: 10px 0px;
    font-weight: 600;
    padding-bottom: 25px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    
    background-color: transparent;
}

.navbar-nav a.active.small {
    color: #a2a2a2  !important;
    border-bottom: 1px solid #a2a2a2;
}

.navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
}
.site-title {
    padding: 0px 0px;
}
.site-title h3 {
    font-family: 'Kaushan Script', cursive;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    margin: 14px 0px;
    letter-spacing: 5px;
}
.site-title h3.small {
    color: white;
    margin: 24px 0px;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: -39px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}




/*====================================================== HOME Parallex =====================================================*/






#home{
    height: 100vh;
    min-height: 100%;
    width: 100%;
    position: relative;
}
.home-img{
    width: 100%;
    height: 100vh;
    margin-left: 0px;
    margin-top: 0px;
}
.home-content-main {
    width: 100%;
    height: 100%;
    display: table;
}
.table-cell{
    display: table-cell;
    vertical-align: middle;
}
.home-row {
    z-index: 2;
    position: relative;
}
.home-text{
    width: 100%; 
}
.home-text h2 {
    font-size: 43px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 700;
    letter-spacing: 4px;
    padding-bottom: 17px;
    margin-top: 17px;
}

.home-text h3 {
    font-size: 17px;
    color: white;
    letter-spacing: 2px;
    line-height: 28px;
    margin-top: 0px;
    margin-bottom: 50px;
    padding: 0px 100px;
}
.home-contact1 {
    font-size: 14px;
    padding: 17px 32px;
    background-color: #B1B1B1;
    color: black;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    border: 1px solid #3c3c3c;
}
.home-contact1:hover {
    color: white;
    border: 1px solid white;
    text-decoration: none;
    background-color: transparent;
}
.home-background{
    width: 100%;
    height: 100vh;
}
.image-home{
    width: 100%;
    height: 100vh;
}
#home-parallex {
    background: url(../img/img1.jpg) 50% 0 no-repeat fixed;
    margin: 0;
    height: 100%;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    background-size: cover;
}
#home-parallex:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.68);
    top: 0;
    left: 0;
    z-index: 1;
}


/*===================================================================== PARRALLEX EFFECT ================================================*/


.section:nth-of-type(1) {
    background: whitesmoke;
    height: 100vh;
}
.section {
    height: 100vh;
    position: relative;
    width: 100% !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}
section:nth-of-type(2){background:black;height:1600px;}

#home-parallex{
    background: url(../img/img1.jpg) 50% 0 no-repeat fixed;
    margin: 0;
    height: 100vh;
    position:absolute;
    width:100%;
    top:0;left:0;
    background-size: cover;
}

.parallax-item{position:absolute;z-index:5;top:40px;left:400px;}




/*====================================================== HOME default =====================================================*/


.home-default {
    background: url(../img/img2.jpg);
    margin: 0;
    height: 100%;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    background-size: cover;
}
.home-default:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.68);
    top: 0;
    left: 0;
    z-index: 1;
}



/*====================================================== HOME slider =====================================================*/






#home{
    height: 100vh;
    min-height: 100%;
    width: 100%;
    position: relative;
}
.home-content{
    width: 100%;
    position: absolute;
    height: 100%;
}

.home-slider-1 {
    height: 100vh;
    min-height: 100%;
    width: 100%;
    background-image: url(../img/img1.jpg);
    position: relative;
    background-size: cover;
    background-position: center center;
}
.home-slider-2 {
    height: 100vh;
    min-height: 100%;
    width: 100%;
    background-image: url(../img/img2.jpg);
    position: relative;
    background-size: cover;
    background-position: center center;
}
.home-slider-3 {
    height: 100vh;
    min-height: 100%;
    width: 100%;
    background-image: url(../img/img3.jpg);
    position: relative;
    background-size: cover;
    background-position: center center;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img {
    line-height: 1;
    height: 100%;
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}


.carousel, .item, .active {
    height: 100%;
    position: relative;
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
}
.home-content-main-slider {
    width: 100%;
    height: 100%;
    display: table;
    position: absolute;
    z-index: 11;
}
.home-content-main-slider:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.68);
    top: 0;
    left: 0;
    z-index: 1;
}
.table-cell{
    display: table-cell;
    vertical-align: middle;
}
.home-row {
    z-index: 2;
    position: relative;
}
.home-text{
    width: 100%; 
}
.home-text h2 {
    font-size: 43px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 700;
    letter-spacing: 4px;
    padding-bottom: 17px;
    margin-top: 17px;
}

.home-text h3 {
    font-size: 17px;
    color: white;
    letter-spacing: 2px;
    line-height: 28px;
    margin-top: 0px;
    margin-bottom: 50px;
    padding: 0px 100px;
}

.button,
.button::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.button {
    background: none;
    color: #fff;
    position: relative;
    border: 1px solid white;
    padding: 11px 19px;
    font-size: 16px;
    border-radius: 5px;
}

.button::before,
.button::after {
    content: '';
    position: absolute;
    z-index: -1;
}

.button:hover {
    color: white;
    text-decoration: none;
}

.btn-1:hover:after {
    height: 100%;
}

/* BUTTON 2 */
.btn-2::after {
    height: 100%;
    left: 0;
    top: 0;
    width: 0;
}

.btn-2:hover:after {
    width: 100%;
}


.home-background{
    width: 100%;
    height: 100vh;
}
.image-home{
    width: 100%;
    height: 100vh;
}
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}






/*==================================================================== ABOUT ============================================================*/





#about {
    width: 100%;
    background-color: white;
    margin-top: 0px;
    position: relative;
}
.about-content {
    padding-top: 100px;
    padding-bottom: 65px;

}
.about-grid{
    width: 100%;
    margin-top: 0px;
}
.creativity{
    margin-top: 0px;
}
.creativity-grid {
    padding: 0px;
    transition: .8s;
    overflow: hidden;
    position: relative;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    margin-right: 0px;
    margin-bottom: 27px;
}

.creativity-row{
    margin-top: 50px;
}
.creativity-title {
    padding-top: 0px;
}
.creativity-title h3 {
    font-size: 28px;
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 3px;
    color: #333;
    font-weight: 700;
    margin-top: 0px;
    padding: 0px;
}


.creativity-title p {
    font-size: 15px;
    letter-spacing: 1px;
    color: #1A1A1A;
    padding: 0px;
    line-height: 27px;
    margin-top: 12px;
}
.creativity-img {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.creativity-img img{
    height: 100%;
    width: 100%;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
.creativity-details {
    padding: 16px 18px;
    padding-bottom: 35px;
}
.creativity-details h3 {
    margin: 0px 8px;
    font-size: 25px;
    letter-spacing: 1px;
    color: #FFF;
    font-family: 'Kaushan Script', cursive;
    position: relative;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    font-weight: 600;
    margin: 0px;
    margin-top: 0px;
}


.creativity-details p {
    font-size: 14px;
    color: white;
    letter-spacing: 1px;
    line-height: 23px;
    padding: 7px 0px;
    position: relative;
    padding-bottom: 12px;
}

.appointment {
    color: white;
    border: 1px solid white;
    padding: 3px 9px;
    border-radius: 5px;
    font-size: 14px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
.appointment:hover{
    background-color: white;
    text-decoration: none;
}
.creativity-grid:hover .creativity-img img{
    opacity: .8;
    transform: scale(1.1);
}

.us-grid {
    margin-top: 73px;
}
.about-img{
    height: auto;
    width: 100%;
}


.about-details {
    margin-left: 47px;
}
.about-details h3 {
    font-size: 28px;
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 3px;
    color: #333;
    font-weight: 700;
    margin-top: 0px;
    padding: 0px;
}
.about-details p {
    font-size: 15px;
    color: #2D2D2D;
    letter-spacing: 1px;
    line-height: 24px;
    margin-bottom: 34px;
    margin-top: 22px;
    padding-right: 24px;
}
.about-details a {
    font-size: 17px;
    padding: 7px 27px;
    color: white;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: .8s;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
}
.about-details a:hover {
    background-color: white;
    text-decoration: none;
}

#video{
    position: relative;
    width: 100%;
    margin-top: 100px;
    background-image: url(../img/video.jpg);
    background-size: cover;
    background-position: center 22%;
}
#video:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.68);
    top: 0;
    left: 0;
    z-index: 1;
}
.video-content {
    padding: 100px 0px;
    position: relative;
    z-index: 111;
}

.video-grid h3 {
    color: white;
    font-size: 32px;
}
.video-icon {
    font-size: 53px !important;
    width: 50px;
    height: 50px;    
    line-height: 49px;
    text-align: center;
    border-radius: 150px;
    margin-top: 20px;
}
.video-grid a:hover{
    text-decoration: none;
}
.work-counter {
    width: 100%;
    margin-top: 100px;
}
.counter {
    padding: 0px;
}
.work-statistics {
    padding: 20px 20px;
    margin-bottom: 35px;
}
.work-statistics h3 {
    font-size: 24px;
    color: #FFF;
    font-family: 'Kaushan Script', cursive;
    transition: .4s;
    -o-transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    font-weight: 700;
    margin-top: 13px;
    margin-bottom: 6px;
}
.work-statistics p {
    color: white;
    font-size: 18px;
}
.stat-icon {
    font-size: 21px;
    margin-top: 0px;
    color: white;
    transition: .4s;
    -o-transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 150px;
}
.work-statistics:hover .stat-icon{
    background-color: white;
}

.speciality-details h3 {
    font-size: 28px;
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 3px;
    color: #333;
    font-weight: 700;
    margin-top: 0px;
    padding: 0px;
}
.speciality-details p {
    font-size: 15px;
    color: #2D2D2D;
    letter-spacing: 1px;
    line-height: 24px;
    margin-bottom: 34px;
    margin-top: 9px;
    padding-right: 24px;
}
.speciality-details a {
    font-size: 17px;
    padding: 7px 27px;
    color: white;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: .8s;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
}
.speciality-details a:hover {
    background-color: white;
    text-decoration: none;
}
.no-padding{
    padding: 0px;
}






/*=========================================================================== WORK ===============================================================*/




#gallery {
    width: 100%;
    background-color: #F9F9F9;
    margin-top: 0px;
}
.work-content{
    padding-bottom: 100px;
}
.work-grid{
    width: 100%;
}
.work-title {
    padding-top: 100px;
}
.work-title h3 {
    font-size: 28px;
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 3px;
    color: #333;
    font-weight: 700;
    margin-top: 0px;
    padding: 0px;
}
.work-details {
    margin-top: 30px;
}
.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
.overlay-main {
    width: 100%;
    height: 100%;
    display: table;
}
.work-icon {
    font-size: 33px;
    color: white;
    text-align: center;
}
.portfolio-wrapper:hover .overlay{
    opacity: 1.4;
}
#filters {
    padding: 0;
    list-style: none;
    margin-bottom: 30px;
    width: 372px;
    margin: auto;
    margin-bottom: 55px;
}

#filters li {
    float: left;
    margin-right: 8px;
}

#filters li span {
    display: block;
    padding: 5px 15px;
    text-decoration: none;
    color: #666;
    cursor: pointer;
    border: 1px solid #D7D7D7;
    border-radius: 6px;
}

#filters li span.active {
    color: white;
    border: 1px solid transparent;
    border-radius: 6px;
}
#portfoliolist .portfolio {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    width: 25%;
    margin: 0%;
    /* display: none; */
    float: left;
    overflow: hidden;
}

.portfolio-wrapper {
    overflow: hidden;
    position: relative !important;
    background: #0F569C;
}

.portfolio img {
    max-width:100%;
    position: relative;
    top:0;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:         all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);	
}
.portfolio-wrapper img{
    transition: .4s;
    -o-transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
}
.portfolio-wrapper img:hover{
    opacity: .2;
    transform: scale(1.1);
}
.portfolio .text-category {
    display:block;
    font-size:9px;
}







/* #Tablet (Portrait) */



/*  #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {


    #ads {
        display:none;
    }

}


/* #Mobile (Landscape) - Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {


    #ads {
        display:none;
    }

}

/* #Clearing */

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0; }
.row:after,
.clearfix:after {
    clear: both; }
.row,
.clearfix {
    zoom: 1; }

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}




/*================================================================ FANCYBOX ===============================================================*/




.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
}

.fancybox-skin {
    position: relative;
    background: white;
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.fancybox-opened {
    z-index: 8030;
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
    position: relative;
}

.fancybox-inner {
    overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}

.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url('../img/fancybox_sprite.png');
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060;
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url('../img/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
    background: url('../img/close.png') center center no-repeat;
}

.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url('../img/blank.gif'); 
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 8040;
}

.fancybox-prev {
    left: 0;
}

.fancybox-next {
    right: 0;
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden;
}

.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px;
}

.fancybox-next span {
    right: 10px;
    background-position: 0 -72px;
}

.fancybox-nav:hover span {
    visibility: visible;
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}


.fancybox-lock {
    overflow: visible !important;
    width: auto;
}

.fancybox-lock body {
    overflow: visible !important;
}

.fancybox-lock-test {
    overflow-y: visible !important;
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: url('../fancybox_overlay.png');
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.83);
}


.fancybox-title {
    visibility: hidden;
    font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050;
}

.fancybox-opened .fancybox-title {
    visibility: visible;
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center;
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent; 
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap;
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff;
}

.fancybox-title-inside-wrap {
    padding-top: 10px;
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8);
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

    #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
        background-image: url('../fancybox_sprite@2x.png');
        background-size: 44px 152px; 
    }

    #fancybox-loading div {
        background-image: url('../fancybox_loading@2x.gif');
        background-size: 24px 24px; 
    }
}
#fancybox-buttons {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 8050;
}

#fancybox-buttons.top {
    top: 10px;
}

#fancybox-buttons.bottom {
    bottom: 10px;
}

#fancybox-buttons ul {
    display: block;
    width: 166px;
    height: 30px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    border: 1px solid #111;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,.05);
    -moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,.05);
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.05);
    background: rgb(50,50,50);
    background: -moz-linear-gradient(top, rgb(68,68,68) 0%, rgb(52,52,52) 50%, rgb(41,41,41) 50%, rgb(51,51,51) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(68,68,68)), color-stop(50%,rgb(52,52,52)), color-stop(50%,rgb(41,41,41)), color-stop(100%,rgb(51,51,51)));
    background: -webkit-linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%);
    background: -o-linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%);
    background: -ms-linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%);
    background: linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#222222',GradientType=0 );
}

#fancybox-buttons ul li {
    float: left;
    margin: 0;
    padding: 0;
}

#fancybox-buttons a {
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    background-color: transparent;
    background-image: url('fancybox_buttons.png');
    background-repeat: no-repeat;
    outline: none;
    opacity: 0.8;
}

#fancybox-buttons a:hover {
    opacity: 1;
}

#fancybox-buttons a.btnPrev {
    background-position: 5px 0;
}

#fancybox-buttons a.btnNext {
    background-position: -33px 0;
    border-right: 1px solid #3e3e3e;
}

#fancybox-buttons a.btnPlay {
    background-position: 0 -30px;
}

#fancybox-buttons a.btnPlayOn {
    background-position: -30px -30px;
}

#fancybox-buttons a.btnToggle {
    background-position: 3px -60px;
    border-left: 1px solid #111;
    border-right: 1px solid #3e3e3e;
    width: 35px
}

#fancybox-buttons a.btnToggleOn {
    background-position: -27px -60px;
}

#fancybox-buttons a.btnClose {
    border-left: 1px solid #111;
    width: 35px;
    background-position: -56px 0px;
}

#fancybox-buttons a.btnDisabled {
    opacity : 0.4;
    cursor: default;
}
#fancybox-thumbs {
    position: fixed;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 8050;
}

#fancybox-thumbs.bottom {
    bottom: 2px;
}

#fancybox-thumbs.top {
    top: 2px;
}

#fancybox-thumbs ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

#fancybox-thumbs ul li {
    float: left;
    padding: 1px;
    opacity: 0.5;
}

#fancybox-thumbs ul li.active {
    opacity: 0.75;
    padding: 0;
    border: 1px solid #fff;
}

#fancybox-thumbs ul li:hover {
    opacity: 1;
}

#fancybox-thumbs ul li a {
    display: block;
    position: relative;
    overflow: hidden;
    border: 1px solid #222;
    background: #111;
    outline: none;
}

#fancybox-thumbs ul li img {
    display: block;
    position: relative;
    border: 0;
    padding: 0;
    max-width: none;
}








/*=================================================== SERVICE ==========================================*/





#service{
    width: 100%;
    background-color: white;
    margin-top: 0px;
    position: relative;
}
.service-grid {
    padding-top: 100px;
    padding-bottom: 70px;
    position: relative;
    z-index: 11;
}
#service-parallex {
    background: url(../img/service.jpg) 50% 0 no-repeat fixed;
    margin: 0;
    height: 100%;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    background-size: cover;
}
#service-parallex:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(248, 248, 248, 0.8);
}
.service-title {
    padding-top: 0px;
}
.service-title h3 {
    font-size: 28px;
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 3px;
    color: black;
    font-weight: 700;
    margin-top: 0px;
    padding: 0px;
}
.service-title p {
    font-size: 15px;
    letter-spacing: 1px;
    color: #303030;
    padding: 0px;
    line-height: 27px;
    margin-top: 19px;

}
.about-row{
    margin-top: 50px;
}
.service-details {
    padding: 0px;
    margin-bottom: 30px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    margin-right: 0px;
}
.service-media-left-1 {
    padding-right: 2px;
    background-image: url(../img/service1.jpg);
    width: 40%;
    background-size: cover;
    background-position: center center;
}
.service-media-left-2 {
    padding-right: 2px;
    background-image: url(../img/service2.jpg);
    width: 40%;
    background-size: cover;
    background-position: center center;
}
.service-media-left-3 {
    padding-right: 2px;
    background-image: url(../img/service3.jpg);
    width: 40%;
    background-size: cover;
    background-position: center center;
}
.service-media-left-4 {
    padding-right: 2px;
    background-image: url(../img/service4.jpg);
    width: 40%;
    background-size: cover;
    background-position: center center;
}

.service-media-body {
    padding: 30px 30px;
}
.service-media-body h3{
    margin: 16px 0px;
    font-size: 23px;
    letter-spacing: 1px;
    position: relative;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    margin-bottom: 0px;
    font-weight: 600;
    margin: 0px;
    font-family: 'Kaushan Script', cursive;
    color: white;
}
.service-media-body p {
    color: #FFF;
    font-size: 16px;
    line-height: 25px;
    margin-top: 13px;
    letter-spacing: 1px;
}
.service-icon {
    font-size: 17px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 150px;
    margin-bottom: 16px;
    color: white;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.service-details:hover .service-icon{
    background-color: white;
}






/*================================================================ TEAM ===============================================================*/




#team{
    width: 100%;
    background-color: white;
    margin-top: 0px;
    position: relative;
}
.team-content{
    padding-top: 100px;
    padding-bottom: 0px;
}
.team-grid{
    width: 100%;
    margin-top: 0px;
}
.team-title {
    width: 100%;
}
.team-title h3{
    font-size: 28px;
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 3px;
    color: black;
    font-weight: 700;
    margin-top: 0px;
    padding: 0px;
}
.team-title p {
    font-size: 15px;
    letter-spacing: 1px;
    color: #1A1A1A;
    padding: 0px;
    line-height: 27px;
    margin-top: 19px;
}
.team-col {
    padding: 6px;
    margin: 0px;
    overflow: hidden;
    position: relative;
}
.team-member{
    position: relative;
    overflow: hidden;
    margin: 0px 9px;
}
.team-img {
    width: 100%;
    height: auto;
    padding: 0px;
    border: 5px solid white;
    transition: .4s;
    -o-transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
}
.team-details {
    padding: 11px 20px;
    margin-top: 0px;
    position: relative;
    z-index: 11111;
    transition: .4s;
    -o-transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
}
.team-details h3 {
    margin: 0px;
    font-size: 25px;
    color: #000;
    font-family: 'Kaushan Script', cursive;
}
.team-details p {
    margin: 0px;
    font-size: 18px;
    color: #fff;
    margin-top: 7px;
    font-weight: 600;
}
.team-icon{
    margin-top: 3px;
    transition: .3s;
    position: relative;
    z-index: 1;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.team-social {
    padding-left: 0px;
    display: inline-flex;
    list-style: none;
    margin: 0px;
}
.team-social li{
    margin: 0px;
}
.team-social li a {
    font-size: 18px;
    color: #fff;
    text-align: center;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    margin: 0px 7px;
}
.team-social li a:hover {
    color: #f057c8;
}


.team-icon-grid {
    width: 100%;
    background-color: transparent;
    position: relative;
    margin-top: 10px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}


.tips{
    width: 100%;
    margin-top: 100px;

}
#tips-content {
    padding-top: 100px;
    position: relative;
    z-index: 111;
    padding-bottom: 86px;
    background-color: white;
    margin-top: 1px;
    position: relative;
    background-size: cover;
    background-position: center center;
    background: url(../img/tips.jpg) 50% 0 no-repeat fixed;
}

#tips-content:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.92);
    top: 0;
    left: 0;
    z-index: 1;
}
.tips-grid{
    width: 100%;
    margin-top: 0px;
    position: relative;
    z-index: 111;
}
.tips-title {
    width: 100%;
}
.tips-title h3{
    font-size: 28px;
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 3px;
    color: white;
    font-weight: 700;
    margin-top: 0px;
    padding: 0px;
}
.tips-title p {
    font-size: 15px;
    letter-spacing: 1px;
    color: #EAEAEA;
    padding: 0px;
    line-height: 27px;
    margin-top: 19px;
}

.tips-details {
    padding: 18px;
    margin-bottom: 25px;
    border: 1px solid #F6F1F1;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    background-color: white;
    box-shadow: 0px 0px 2px 0px #c6c6c6;
}
.tips-details-content{
    padding-top: 40px;
    position: relative;
    z-index: 111;
}
.carousel, .item, .active1 {
    height: 100%;
    position: relative;
    width: auto;
}
.nav-tabs {
    border-bottom: none;
    padding: 0px 15px;
    width: 582px;
    margin: auto;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: white;
    cursor: default;
    border: 1px solid transparent;
    border: 2px solid white;
}
.tips-row{
    margin-top: 50px;
}
.nav-tabs > li > a {
    margin-right: 11px;
    border-radius: 5px;
    color: white;
    cursor: default;
    background-color: transparent;
    font-size: 17px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
.nav-tabs > li > a:hover {
    color: white ;
    cursor: default;
    cursor: pointer;
    background-color: #e33aa5;
    border: 2px solid white;
}
.details-tips{
    width: 100%;
    border-top: 1px solid #454545;
}
.tab-content {
    padding: 0px 15px;
    margin-top: 50px;
}

.tips-details-content p {
    color: #f8f8f8;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 25px;
}
.tips-content-list {
    margin-top: 40px;
}
.tips-content-list ul {
    list-style: none;
    padding-left: 0px;
}
.tips-content-list ul li{
    padding: 4px 0px;
}
.tips-content-list ul li p {
    color: #9c9c9c;
    font-size: 16px;
    margin-left: 34px;
    line-height: 25px;
}

.tips-icon {
    float: left;
    font-size: 22px;
    margin-top: 2px;
}





/*--------------------------------------------------------------- PRICIING ------------------------------------------------------------*/




#pricing{
    height: auto;
    width: 100%;
    background-color: white;
}
.pricing-content{
    padding-bottom: 100px;
}
.price-title {
    padding-top: 100px;
}
.price-title h3{
    font-size: 28px;
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 3px;
    color: black;
    font-weight: 700;
    margin-top: 0px;
    padding: 0px;
}
.price-title p {
    font-size: 15px;
    letter-spacing: 1px;
    color: #1A1A1A;
    padding: 0px;
    line-height: 27px;
    margin-top: 19px;
}
.price-grid {
    margin-top: 0px;
}
.price-pack {
    position: relative;
    margin: 0px 0px;
    border: 1px solid #e4e4e4;
    padding: 28px 0px;
    background-color: white;
    transition: .4s;
    -o-transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    margin-right: 10px;
    padding-top: 0px;
}
.price-pack:hover{
    box-shadow: 0px 0px 12px 0px #cecece;
}
.price-pack-head {
    padding-bottom: 12px;
}
.price-img{
    width: 100%;
}
.price-image{
    width: 100%;
}
.price-pack-head h3 {
    margin: 0px;
    color: #FFF;
    text-transform: uppercase;
    padding-top: 0px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 3px;
    transition: .4s;
    -o-transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    margin-top: 0px;
    padding: 11px 30px;
    font-family: 'Kaushan Script', cursive;
}

.price-pack-head h3 span {
    font-size: 20px;
    color: #272727;
    font-weight: 900;
    margin-left: 20px;
}
.price-pack-body {
    margin-top: 16px;
    padding-bottom: 10px;
    padding: 0px 30px;
}
.price-pack-body ul {
    padding: 0px;
    display: inherit;
    list-style: none;
    position: relative;
    margin-bottom: 41px;
}
.price-pack-body ul li {
    border-bottom: 1px solid #efefef;
    padding: 13px 0px;
    font-size: 14px;
    color: #4d4d4d;
}
.price-pack-body ul li:first-child {
    border-top: 1px solid #efefef;
}
.price-pack-body a {
    font-size: 17px;
    background-color: white;
    padding: 4px 21px;
    color: #3F3F3F;
    border: 1px solid #3F3F3F;
    transition: .4s;
    -o-transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
}
.price-pack-body a:hover {
    text-decoration: none;
    color: white;
}
.price-pack-body .middle{
    color: white;
}



/*============================================================= TESTIMONIAL ================================================================*/




#testimonial{
    width: 100%;
    background-color: white;
    margin-top: 1px;
    position: relative;
}

#testimonial-content {
    padding-bottom: 100px;
    padding-top: 100px;
    background: url(../img/clients.jpg) 50% 0 no-repeat fixed;
    background-size: cover;
    background-position: center center;
}
#testimonial-content:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.88);
    top: 0;
    left: 0;
    z-index: 1;
}
.testimonial-grid {
    width: 100%;
    position: relative;
    z-index: 111;
}
.testimonial-title {
    padding-top: 0px;
}
.testimonial-title h3{
    font-size: 28px;
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 3px;
    color: white;
    font-weight: 700;
    margin-top: 0px;
    padding: 0px;
}
section {
    margin: 0;
    height: auto;
}
section {
    padding-top: 50px;
    padding-bottom: 0px;
}
.testimonial-details{
    width: 100%;
}
.carousel-indicators1{
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}


.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
    padding-bottom: 32px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
    opacity: 1;
    -webkit-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
    bottom: 10px;
}

#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
    color: white;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.fa-4x {
    font-size: 31px;
}
.circle-img {
    width: 100%;
    height: 100%;
    border-radius: 100px;
}







/*============================================================== CONTACT =====================================================================*/





#contact {
    width: 100%;
    margin-top: 0px;
    position: relative;
    background-image: url(../img/contact.jpg);
    background-size: cover;
    background-position: center center;
}
.contact-content{
    width: 100%;
}
.contact-grid {
    position: relative;
    z-index: 111;
}
.contact-content::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.contact-row{
    margin-top: 100px;
}
.contact-title {
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
}
.contact-title h3 {
    font-size: 28px;
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 3px;
    color: black;
    font-weight: 700;
    margin-top: 0px;
    padding: 0px;
}
.contact-title p {
    font-size: 15px;
    letter-spacing: 1px;
    color: #333232;
    padding: 0px;
    line-height: 28px;
    margin: 23px 0px;
    margin-bottom: 49px;
}
.contact-col{
    background-color: white;
    padding-bottom: 100px;
}
.contact-form-details {
    margin-top: 0px;
    padding-bottom: 0px;
}
.contact-form {
    width: 100%;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}
.form-control {
    display: block;
    width: 100%;
    margin: auto;
    height: 50px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #8C8B8B;
    background-image: none;
    border: 1px solid black;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border-color: transparent;
    background-color: rgb(248, 248, 248);
    text-align: center;
}
.form-control:enabled {
    box-shadow: none;
    border: 1px solid #d5d5d5;
}
.has-error .form-control {
    border-color: #000;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.has-error .help-block {
    color: #878787;
    text-align: center;
}
.has-error .form-control:enabled {
    box-shadow: none;
    border: 1px solid #adadad;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 100%;
}
.btn-success.disabled {
    color: white;
    cursor: not-allowed;
}
.btn.disabled:hover{
    color: white;
    cursor: not-allowed;
}
.btn-success:hover{
    cursor: pointer;
    color: white;
}
.btn-success {
    color: white;
}
.text-danger {
    position: absolute;
    text-align: center;
    width: 100%;
}
.text-success {
    position: absolute;
    text-align: center;
    width: 100%;
}
.hidden {
    display: none !important;
    color: #2a99cc;
}


.contact-info-row{
    margin-top: 100px;
}

.contact-icon {
    font-size: 20px;
    position: relative;
    margin-left: 0px;
    margin-top: 0px;
    background-color: #FFF;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 39px;
    border-radius: 5px;
}

.contact-col-info h3 {
    font-size: 28px;
    position: relative;
    margin-top: 21px;
    font-weight: 700;
    font-family: 'Kaushan Script', cursive;
    color: white;
}
.contact-col-info p {
    font-size: 17px;
    color: #FFF;
    line-height: 23px;
    position: relative;
    margin-bottom: 0px;
}

.copyright h3 {
    margin: 0px;
    padding: 16px 0px;
    text-align: center;
    font-size: 12px;
    color: #fff;
}
.map {
    width:100%;
    height:600px;	
}

.map-wrap {
    position:relative; 
}

.overlay {
    width:100%;
    height: 100%;
    position:absolute; 
    top:0;
}
.map-col{
    padding: 0px;
    margin-top: 40px;
}
.form-control::-webkit-input-placeholder{
    color: black;
}
.form-control:-moz-placeholder{
    color: black;
}
.form-control::-moz-placeholder{
    color: black;
}
.form-control:-ms-input-placeholder{
    color: black;
}






/*=============================================================== RESPONSIVE ======================================================*/






@media screen and (max-width: 865px) {
    .navbar-nav li {
        float: left;
        margin: 0px 5px;
        display: inherit;
    }
}
@media screen and (max-width: 768px) {

    .navbar-nav {
        float: right;
        margin: 17px 21px;
        margin-right: 10px;
    }
    .about-details p {
        font-size: 13px;
        color: #595959;
        letter-spacing: 1px;
        line-height: 25px;
        margin-bottom: 34px;
        margin-top: 9px;
        padding-right: 24px;
    }

    .price-pack {
        position: relative;
        margin: 0px 0px;
        border: 1px solid #c2c2c2;
        padding: 28px 0px;
        background-color: white;
        transition: .4s;
        -o-transition: .4s;
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -ms-transition: .4s;
        box-shadow: 0px 0px 4px 0px #cecece;
        margin-right: 10px;
        margin-bottom: 35px;
        padding-top: 0px;
    }
    #skill {
        list-style: none;
        padding: 34px 2px;
    }
    .skill-details {
        padding-top: 32px;
    }
    .skill-main {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 111;
        padding-bottom: 66px;
    }
    .navbar-nav li {
        float: left;
        margin: 0px 5px;
        display: inherit;
    }
    .about-title p {
        font-size: 16px;
        letter-spacing: 1px;
        color: #5D5D5D;
        padding: 0px 30px;
        line-height: 27px;
        margin-top: 24px;
    }

    .about-details {

        margin-left: 30px;

    }
    .contact-col {
        padding: 18px 26px;
        margin-bottom: 9px;
        overflow: hidden;
        position: relative;
    }
    .contact-form{
        padding-bottom: 50px;
    }
    .contact-form-details {
        margin-top: 0px;
        padding-bottom: 0px;
    }


}
@media screen and (max-width: 767px) {



    .navbar-default .navbar-toggle {
        border-color: #ddd;
        margin-top: -43px;
    }
    .navbar-default {
        background-color: transparent;
        height: 75px;
        border-bottom: none;
        overflow: visible;
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
    }
    .navbar-nav {
        float: right;
        margin: 11px 21px;
        margin-right: 32%;
        display: inherit;
        width: 200px;
        background-color: transparent;
    }
    .navbar-style{
        padding: 0px;
    }
    .navbar-nav li {
        float: left;
        margin: 9px 11px;
        display: inherit;
        width: 100%;
    }
    .navbar-fixed-top .navbar-collapse {
        max-height: 100%;
        background-color: rgba(0, 0, 0, 0.76);
        position: relative;
    }


    .navbar-default .navbar-nav > li > a {
        color: white;
        letter-spacing: 2px;
        font-size: 16px;
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        padding: 10px 0px;
        text-align: center;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: transparent;
        overflow: visible;
    }
    .home-text h3 {
        font-size: 17px;
        color: rgb(225, 221, 221);
        font-family: 'Lato', sans-serif;
        letter-spacing: 1px;
        margin-bottom: 40px;
        padding: 0px;
        line-height: 29px;
    }
    .about-details {
        margin-top: 50px;
        margin-left: 0px;
    }
    .contact-col-info{
        margin-bottom: 20px;
    }
    .price-pack {
        position: relative;
        margin: 12px 0px;
        border: 1px solid #c2c2c2;
        padding: 28px 0px;
        background-color: white;
        overflow: hidden;
        transition: .4s;
        -o-transition: .4s;
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -ms-transition: .4s;
        padding-top: 0px;
    }
    .contact-col {
        padding: 22px 31px;
        margin: 0px;
        margin-bottom: 20px;
    }
    .contact-form-details {
        margin-top: 0px;
        padding-bottom: 0px;
    }
}


@media screen and (max-width: 640px) {

    .price-pack {
        position: relative;
        margin: 12px 0px;
        border: 1px solid #c2c2c2;
        padding: 28px 0px;
        background-color: white;
        overflow: hidden;
        transition: .4s;
        -o-transition: .4s;
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -ms-transition: .4s;
        padding-top: 0px;
    }

    .active-grid{
        border: 5px solid #0F569C;
    }
    #portfoliolist .portfolio {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        width: 50%;
        margin: 0%;
        display: none;
        float: left;
        overflow: hidden;
    }
}


@media screen and (max-width: 480px) {

    .nav-tabs {
        border-bottom: none;
        padding: 0px 15px;
        width: 100%;
        margin: auto;
    }
    .nav>li {
        position: relative;
        display: block;
        width: 100%;
        margin-bottom: 8px;
    }
    .contact-title {
        padding-top: 70px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .contact-form {
        width: 100%;
        margin: auto;
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbar-nav {
        float: right;
        margin: 11px 21px;
        margin-right: 27%;
        display: inherit;
        width: 200px;
        background-color: transparent;
    }
    #filters li {
        float: none;
        margin-bottom: 5px;
    }
    #filters {
        padding: 0;
        list-style: none;
        margin-bottom: 30px;
        width: 100%;
        margin: auto;
        margin-bottom: 30px;
    }


    .item blockquote p {
        font-size: 16px;
        margin-bottom: 0px;
        line-height: 30px;
        position: relative;
    }



}

@media screen and (max-width: 320px) {
    .navbar-nav li {
        float: left;
        margin: 4px 11px;
        display: inherit;
        width: 100%;
    }

    .home-text h2 {
        font-size: 24px;
        font-family: 'Kaushan Script', cursive;
        font-weight: 700;
        letter-spacing: 4px;
        padding-bottom: 17px;
        margin-top: 17px;
    }
    .item blockquote p span {
        font-size: 20px;
        color: #E3E3E3;
        position: relative;
        line-height: 44px;
    }
    .about-details p {
        font-size: 13px;
        line-height: 25px;
        margin-bottom: 34px;
        margin-top: 9px;
        padding-right: 12px;
    }


    .about-details {
        margin-top: 50px;
        margin-left: 0px;
    }

    .home-text h2 {
        font-size: 24px;
        font-family: 'Kaushan Script', cursive;
        font-weight: 700;
        letter-spacing: 4px;
        padding-bottom: 17px;
        margin-top: 17px;
    }

    #portfoliolist .portfolio {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        width: 100%;
        margin: 0%;
        display: none;
        float: left;
        overflow: hidden;
    }
    .service-title p {
        font-size: 13px;
        letter-spacing: 1px;
        padding: 0px 0px;
        line-height: 23px;
        margin-top: 24px;
    }
    .team-title p {
        font-size: 13px;
        letter-spacing: 1px;
        padding: 0px 0px;
        line-height: 23px;
        margin-top: 24px;
    }
    .tips-title p {
        font-size: 13px;
        letter-spacing: 1px;
        color: #EAEAEA;
        padding: 0px;
        line-height: 27px;
        margin-top: 19px;
    }
    .creativity-title p {
        font-size: 13px;
        letter-spacing: 1px;
        color: #1A1A1A;
        padding: 0px;
        line-height: 27px;
        margin-top: 12px;
    }
    .home-text h3 {
        font-size: 13px;
        color: rgb(225, 221, 221);
        font-family: 'Lato', sans-serif;
        letter-spacing: 1px;
        margin-bottom: 40px;
        padding: 0px;
        line-height: 24px;
    }
    .price-title p {
        font-size: 13px;
        letter-spacing: 1px;
        padding: 0px 0px;
        line-height: 23px;
        margin-top: 24px;
    }
    .testimonial-details {
        width: 100%;
        padding-bottom: 0px;
    }
    .contact-title p {
        font-size: 13px;
        letter-spacing: 1px;
        padding: 0px 5px;
        line-height: 23px;
        margin-top: 24px;
    }
    .navbar-nav {
        float: right;
        margin: 11px 21px;
        margin-right: 17%;
        display: inherit;
        width: 200px;
        background-color: transparent;
    }
}