/*header*/

#topnavbar {
    margin: 0;
}
#topnavbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
}


/*main content*/

@media (min-width:320px)  {
    .img-responsive {
        margin-top: 68px;
    }
}
@media (min-width:1281px) {
    .img-responsive {
        margin-top: 25px;
    }
}

#welcome {
    background-color: white;
}

#welcomeAside {
    align-items: center;
}